.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #1565c0;
    text-align: center;
    padding: 0.25rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.link {
    color: #FFFFFF!important;
    font-weight: 800;
}